.streak-grid{

display:grid;
grid-template-columns:repeat(10,50px);
gap:15px;}


.day{height:50px;
    width:50px;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    border-radius:8px;
}
.completed{
    background:rgb(3, 160, 37);
    color:white;

}
.today{
    cursor:pointer;
    border:2px solid green;
}


.locked{
    opacity:0.5;
    cursor:not-allowed;
}


.completed{
    background:green;
    color:white;
}